# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
Venv/
env/
ENV/

# Instance Folder
instance/

# Environment files
.env
*.env

# Cache
.cache/
model_cache/

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log

# Office files
*.xlsx
*.pdf

# Audio files
*.mp3
*.wav

# VSCode
.vscode/
