/venv
/Data
/*.vscode
*.xlsx
*.pdf
/Venv
/instance
*.env
.env
D:/Smoke_IT/MasterProject/src/nurse_talk_app.egg-info
src/nurse_talk_app.egg-info/dependency_links.txt
src/nurse_talk_app.egg-info/PKG-INFO
src/Backend/database/__pycache__